{% extends 'base.twig' %}
{% block body %}
        <H1>ChungShop</H1>
        <table border="2" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên SP</th>
                    <th>Mô Tả</th>
                    <th>Sô Lượng</th>
                    <th>Giá</th>
                    <th>Ảnh</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items  %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.availableQuantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.imagePath }}</td>
                    <td><a href="cart/{{ item.id }}/add">Thêm vào giỏ</a></td>
                    <td><a href="admin/items/{{ item.id }}/edititem">Sửa hàng</a></td>
                    <td><a href="admin/items/{{ item.id }}/removeitem">Xoá hàng</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}